<table class="table-index table">
   <thead>
      <tr>
         <th>Assignment</th>
         <th>Score</th>
         <th class="centered-column-content">Actions</th>
      </tr>
   </thead>
   <tbody>
     <% @grades.each do |grade| %>
      <tr>
          <td class="left-column"><%= grade.assignment_name %></td>
          <td class="middle-column"><%= grade.grade %></td>
          <td class="right-column">
            <div class="row-button-options btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_grade_path(grade) %></button>
              <button type="button" class="btn btn-default"><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
          </td>
      </tr>
    <% end %>
   </tbody>
</table>
