<div class="narrow-content">
  <h2>View Grades</h2>

  <% if current_user.student_id != nil %>
    <%= render "student_grades" %>
  <% end %>

  <% if current_user.parent_id != nil %>
    <%= render "parent_grades" %>
  <% end %>

  <% if current_user.teacher_id != nil %>
    <%= render "teacher_grades" %>
  <% end %>

</div>
