<div class="narrow-content">
  <h2>View Students</h2>

  <div class="center-button">
    <button type="button" class="btn btn-default"><%= link_to 'New Student', new_student_path %></button>
  </div>

  <table class="table-index table">
     <thead>
        <tr>
           <th>Name</th>
           <th>Teacher</th>
           <th>Course</th>
        </tr>
     </thead>

     <tbody>
       <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %></td>
          <td><%= Teacher.find_by(student.id).name %></td>
          <td><%= Teacher.find_by(student.id).course %></td>
        </tr>
      <% end %>
     </tbody>
  </table>
</div>
